.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox']#collapsible {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background: #e9eaed;
    cursor: pointer;
    border-radius: 7px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    -webkit-transform: rotate(90deg) translateX(-3px);
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height .25s ease-in-out;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100%;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    border-bottom: 1px solid rgba(250, 224, 66, 0.45);
}

.modnotes_label {
    font-weight: bold;
    text-decoration: underline;
}

.profile-MODNOTES_CMP_ModNotesWidget {
    overflow-x: auto;
}